.App {
  text-align: center;
  align-items: center;
 

}

.top-content {

 margin-bottom: 20px;

}

.bottom-content {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;


}

